.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 50px;

}
.container hr{
    border: none;
    height: 2px;
    background: #707070;
}

.container h2{
    font-weight: 500;
    font-size: 27px;
}

.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}

.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #554f9a;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 18px;
}


.correct {
    background-color: #4CAF50 !important; 
    color: white;
    border-color: #4CAF50;
}


.incorrect {
    background-color: #F44336 !important;
    color: white;
    border-color: #F44336;
}


.disabled-options {
    pointer-events: none; 
}


button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}